### Demonstastion

In [1]:
import sql_magics

%%format magic is ready to be used to make your SQL better
Run `%%pg_sql database_connection_url` to obtain pre-configured connection to PostgreSQL

Executing the cell with `%%format` magic you will be given the output in place

But during the demo every time given the input for demonstartion purpose, output is inserted in the cell below, but keep in mind that `%%format` do it in place)

#### 1. Default Formatter

If you specify `%%format` without any additional in-line argument

In [ ]:
%%format
select a, b, case when c is not null then 'val1' else 'val2' end
from SHEMA.table1 t1
left join schema.TABLE2 t2
    on T1.id = T2.id
    and t1.NAME = t2.NAME
where true
    and coalesce(c, 'default') != 'deprecated'

In [ ]:
%%time
SELECT a, b, CASE WHEN c IS NOT NULL THEN 'val1' ELSE 'val2' END
FROM shema.table1 t1
LEFT JOIN schema.table2 t2
    ON t1.id = t2.id
    AND t1.name = t2.name
WHERE TRUE
    AND coalesce(c, 'default') != 'deprecated'

#### 2.Formatter + pgsql
If you specify `pgsql` after the `%%format` then it will be proposed to use PG URL to connect to DB in place

In [ ]:
%%format  pgsql
select a, b, case when c is not null then 'val1' else 'val2' end as c
from SHEMA.table1 t1
left join schema.TABLE2 t2
    on T1.id = T2.id
    and t1.NAME = t2.NAME
where true
    and coalesce(c, 'default') != 'deprecated'

In [ ]:
%%pgsql <YOUR POSTGRES CONNECTION STRING>
SELECT a, b, CASE WHEN c IS NOT NULL THEN 'val1' ELSE 'val2' END AS c
FROM shema.table1 t1
LEFT JOIN schema.table2 t2
    ON t1.id = t2.id
    AND t1.name = t2.name
WHERE TRUE
    AND coalesce(c, 'default') != 'deprecated'

#### 3. Formatter + Connection 
Moreover if you specify the url then you will be able to execute this cell twice in a row
 - first execution is applying formatting
 - then it's possible to execute the query in the exact same cell and get the table as a result

In [ ]:
%%format pgsql   postgresql://user:password@host:port/database
select a, b, case when c is not null then 'val1' else 'val2' end as c
from SHEMA.table1 t1
left join schema.TABLE2 t2
    on T1.id = T2.id
    and t1.NAME = t2.NAME
where true
    and coalesce(c, 'default') != 'deprecated'

In [ ]:
%%pgsql postgresql://user:password@host:8888/database
SELECT a, b, CASE WHEN c IS NOT NULL THEN 'val1' ELSE 'val2' END AS c
FROM shema.table1 t1
LEFT JOIN schema.table2 t2
    ON t1.id = t2.id
    AND t1.name = t2.name
WHERE TRUE
    AND coalesce(c, 'default') != 'deprecated'

#### 4. Engine Formatter

If you use `sqlalchemy` to set the connection then the best option for you is

to use `%%format engine` to put the data into pandas dataframe automatically

In [12]:
import pandas as pd

import sqlalchemy
from sqlalchemy.dialects.mssql import pymssql

In [14]:
engine = sqlalchemy.create_engine(
    'postgresql://user:password@host:8888/database'
)

In [ ]:
%%format engine 
select a, b, case when c is not null then 'val1' else 'val2' end as c
from SHEMA.table1 t1
left join schema.TABLE2 t2
    on T1.id = T2.id
    and t1.NAME = t2.NAME
where true
    and coalesce(c, 'default') != 'deprecated'

In [ ]:
%%time
df = pd.read_sql("""
SELECT a, b, CASE WHEN c IS NOT NULL THEN 'val1' ELSE 'val2' END AS c
FROM shema.table1 t1
LEFT JOIN schema.table2 t2
    ON t1.id = t2.id
    AND t1.name = t2.name
WHERE TRUE
    AND coalesce(c, 'default') != 'deprecated'
""", engine)

#### 5. Summary

 - Use `%%format` to reformat the sql, in addition you can change the rules in the function [format_sql](https://github.com/NPodlozhniy/sql-magics/blob/e8ab1b270593f105ce457b8d47ce2de62c41f998/sql_magics.py#L73)
 - Use `%%format` or `%%pgsql` with the connection string to execute the queries in place
 - Use `%%format engine` to put the result of the query to dataframe if you using `sqlalchemy` engine